:root {
  --bg-color: #000000;
  --main-bg-color: #ffff;
  --btn-bg-color: #f9c559;
  --bg: #b8b8b8;
  --shadow: rgba(0, 0, 0, 0.5);
  --gradient-dark: #bcbcbc;
  --gradient-light: #000;
}

html,
.ficha,
.slider,
#info,
.sectiontranslator,
.ficha {
  background-color: var(--bg);
}

body,
small,
a,
#menuToggle a,
.translateBTN {
  color: var(--bg-color);
}

textarea,
input {
  color: var(--bg-color);
  background-color: var(--main-bg-color);
}

.slider,
#principal,
main,
#menu {
  background-color: var(--main-bg-color);
}

#menuToggle a:hover {
  text-decoration: underline;
}

#menuToggle span,
#menuToggle input:checked~span,
.slider:before {
  background-color: var(--bg-color);
}

input:checked+.slider {
  background-color: var(--btn-bg-color);
}

input:focus+.slider {
  box-shadow: var(--btn-bg-color);
}

#menu,
.btnanim:hover {
  border-color: transparent;
  box-shadow: 0 20px 50px var(--shadow);
}

.btnanim:hover span:nth-child(1) {
  background: linear-gradient(to right,
      var(--gradient-dark),
      var(--gradient-light));
}

.btnanim:hover span:nth-child(2) {
  background: linear-gradient(to bottom,
      var(--gradient-dark),
      var(--gradient-light));
}

#enlaces>ul {
  border-right: solid 5px var(--bg-color);
}

.btnanim:hover span:nth-child(3) {
  background: linear-gradient(to left,
      var(--gradient-dark),
      var(--gradient-light));
}

.btnanim:hover span:nth-child(4) {
  background: linear-gradient(to top,
      var(--gradient-dark),
      var(--gradient-light));
}

.rrss li:nth-child(1):hover>a>i {
  color: #3b5999;
}

.rrss li:nth-child(2):hover>a>i {
  color: #55acee;
}

.rrss li:nth-child(3):hover>a>i {
  color: #e4405f;
}

.fa-check-circle {
  color: green;
}

.fa-dot-circle {
  color: orange;
}

.fa-times-circle {
  color: red;
}

input[type='submit']:hover {
  background-color: var(--bg-color);
  color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}

.tabletr {
  border-bottom: 2px solid var(--bg-color);
}

.tabletr {
  border-bottom: 2px solid var(--bg-color);
}

.select-sim {
  background: var(--main-bg-color);
}

.select-sim:hover .options {
  background: var(--main-bg-color);
}

.select-sim:hover .options .option input:checked+label {
  background: var(--bg);
}

.options .option {
  border-left: 1px solid var(--bg-color);
}

/* .checked {
  background-color: rgba(0, 128, 0, 0.5);
}

.review {
  background-color: rgb(255, 167, 0, 0.5);
}

.delete {
  background-color: rgba(255, 0, 0, 0.5);
} */