@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

html {
  background: #2a2e32;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  margin-top: 5vh;
}

body {
  width: 100%;
  font-size: 22px;
}

textarea,
input {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 700;
  font-size: 22px;
}

/* Cabecera */

header {
  display: flex;
  align-items: center;
}

#navigation {
  position: absolute;
  z-index: 999;
  top: 5vh;
  left: 5vh;
}

header>a {
  margin: 0 auto;
  transform: scale(0.9);
  z-index: 1;
}

header>a>img {
  max-width: 100%;
}

/* Cuerpo */

main {
  text-align: center;
}

small {
  font-size: 0.7em;
}

.ficha {
  width: 100%;
  height: 50vh;
  padding: 5vh 10vh;
}

.ficha>ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

.ficha>ul>li {
  width: 100%;
  padding: 2vh;
}

.v1,
.v2 {
  border: 1px solid;
}

.ficha>ul>li:hover>a {
  text-decoration: none;
}

#principal {
  display: grid;
  gap: 2vh;
  padding: 5vh 7vh;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#enlaces {
  padding: 5vh 0 5vh 7vh;
  display: table;
  text-align: left;
  height: 100%;
}

#enlaces>ul {
  display: table-cell;
  vertical-align: middle;
}

#enlaces>ul>li {
  margin-bottom: 1vh;
}

#div-rrss {
  padding: 5vh 7vh 5vh 0;
  display: table;
  width: 100%;
  height: 100%;
}

#div-rrss>div {
  display: table-cell;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

tr.tabletr>td:nth-child(5)>label:nth-child(4)>i:nth-child(1) {
  margin: 0 1vh 0 1vh;
}

.translatebtn {
  margin: 0 1vh 0 1vh;
}

#tblcodetranslate,
#tbltranslate {
  table-layout: fixed;
}

#tblcodetranslate th:nth-child(1),
#tblcodetranslate td:nth-child(1) {
  width: 20%;
}

#tblcodetranslate th:nth-child(2),
#tblcodetranslate td:nth-child(2),
#tblcodetranslate th:nth-child(3),
#tblcodetranslate td:nth-child(3) {
  width: 35%;
}

#tblcodetranslate th:nth-child(4),
#tblcodetranslate td:nth-child(4) {
  width: 10%;
}

#tblcodetranslate i,
#tblcodetranslate svg {
  font-size: 20px;
}

#tblcodetranslate i:hover,
#tblcodetranslate svg:hover {
  transform: translateY(-3px) scale(1.5);
}

.sectiontranslatorlang {
  margin-top: 10%;
  padding: 1vh 0 1vh 0;
}

.sectiontranslatorlang form {
  display: flex;
  justify-content: space-evenly;
}

.labelLang {
  display: flex;
  align-items: center;
}

.sectiontranslator {
  padding: 1vh;
}

.sectiontranslator tr,
.sectiontranslator td,
.sectiontranslator th {
  overflow: auto;
  text-overflow: ellipsis;
}

.stickyTranslate {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

section.sectiontranslator:nth-child(3) {
  padding: 1vh;
  border-bottom: none;
}

tr.tabletr>td:nth-child(1) {
  padding-left: 1vh;
}

tr.tabletr>td:nth-child(5) {
  padding-right: 1vh;
}

.sectiontranslator form {
  display: flex;
  justify-content: space-evenly;
}

.columcode {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.columcode:hover {
  text-overflow: unset;
  overflow-x: scroll;
  position: absolute;
  margin: 2.6vh 0 0 0;
}

.tabletr td:nth-child(1),
.tabletr td:nth-child(5) {
  width: 10%;
}

.tabletr td:nth-child(2),
.tabletr td:nth-child(3) {
  width: 40%;
}

#tblcodetranslate td textarea,
#modtranslator,
#modtranslationversion,
#tblcodetranslate input {
  width: 90%;
  overflow: auto;
}

input,
textarea {
  text-align: center;
  border: none;
  padding: 5px 10px;
}

input[type='submit']:hover {
  background-color: var(--bg-color);
  color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  transform: scale(1.1);
}

.tabletr {
  height: 8vh;
  margin-top: 10px;
  margin-bottom: 5px;
}

.table1tr {
  height: 3vh;
}

.table1tr+tr td {
  padding-bottom: 10px;
}

.tabletr td {
  vertical-align: middle;
}

.iconLang {
  width: 35px;
}

.sectionGenerator {
  width: 100%;
  height: 100%;
  padding: 30vh 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.linkReturn {
  cursor: pointer;
  margin: auto;
}

.btnDowloads {
  margin: auto;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
}

.btnDowloads:hover {
  background-color: RoyalBlue;
}

/* Pie */

footer {
  color: white;
  background-color: black;
  font-size: 0.6em;
  height: 20px;
  width: 100%;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

/* Menu */

#menuToggle {
  display: block;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  margin: -100px 0 0 -150px;
  padding: 100px 50px 50px 125px;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-300%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 20px;
  font-size: 22px;
  display: block;
  width: 100%;
}

#menuToggle input:checked~ul {
  transform: none;
}

#menu>li:nth-child(1)>ul {
  display: none;
}

#menu>li:nth-child(1):hover>ul {
  display: block;
}

#menu>li:nth-child(1)>ul>li:nth-child(2) {
  padding-bottom: 0;
  padding-top: 0;
}

/* Redes Sociales */

.rrss {
  display: flex;
  list-style: none;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.rrss li>a {
  font-size: 0px;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.rrss li>a:hover {
  transition-duration: 0.2s;
  transform: scale(1.5);
}

.rrss li>a>i {
  font-size: 20px;
}

/* switch */

#conten_mode {
  position: absolute;
  top: 5vh;
  right: 5vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
  z-index: 2;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus+.slider {
  box-shadow: 0 0 1px;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Botones */

.btnanim {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5vh;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
}

.btnanim:active {
  opacity: 0.3;
}

.btnanim:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
}

.btnanim:hover span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  animation: animation1 1s linear infinite;
}

@keyframes animation1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.btnanim:hover span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  animation: animation2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animation2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.btnanim:hover span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  animation: animation3 1s linear infinite;
}

@keyframes animation3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.btnanim:hover span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  animation: animation4 1s linear infinite;
  animation-delay: 0.5s;
}

.error {
  position: relative;
  z-index: 1;
  padding: 20px 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  background: #ff0202;
  top: 80px;
}

.error::after {
  content: "";
  border-bottom: 15px solid #ff0202;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  left: 45%;
  top: -14px;
}

@keyframes animation4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/** IDIOMAS **/

.select-sim {
  width: 200px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.select-sim::after {
  content: "▼";
  font-size: 0.5em;
  font-family: arial;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
}

.select-sim:hover::after {
  content: "";
}

.select-sim:hover {
  overflow: visible;
}

.select-sim:hover .options .option label {
  display: inline-block;
}

.select-sim:hover .options {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 320px;
  overflow-y: scroll;
}

.select-sim .options .option {
  overflow: hidden;
}

.select-sim:hover .options .option {
  height: 35px;
  overflow: hidden;
}

.select-sim .options .option img {
  width: 35px;
  margin-right: 5px;
  vertical-align: middle;
}

.select-sim .options .option label {
  display: none;
  padding: 0 10px;
}

.select-sim .options .option input {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  position: absolute;
  left: -10000px;
}

.select-sim .options .option input:checked+label {
  display: block;
  width: 100%;
}

.select-sim:hover .options .option input+label {
  display: block;
}

/** LOADER **/

#css-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999999999999999999999999999999999;
  top: 0;
}

.txt-loader {
  position: absolute;
  color: white;
  font-weight: bolder;
  font-size: 200%;
  width: 100%;
  text-align: center;
  top: 72vh;
}

.txt-loader::after {
  content: "";
  animation: dott 2s infinite;
}

#css-loader .caja-loader {
  position: fixed;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.3);
  top: calc(50vh - 200px);
  left: calc(50% - 200px);
  border: 13px solid #f2f2f2;
  border-radius: 30%;
  animation: spin 4s linear infinite;
}

#css-loader .caja-loader .spinner {
  border: 13px solid #f2f2f2;
  border-radius: 40%;
  width: 200px;
  height: 200px;
  animation: spin 5s linear infinite;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  z-index: 4;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dott {
  25% {
    content: "";
  }

  50% {
    content: ".";
  }

  75% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

/** ABOUTUS **/

section.aboutus {
  margin: auto;
  padding: 5vh 7vh;
  width: 80%;
}

section.aboutus div div {
  text-align: center
}

section.aboutus div {
  padding: 5vh 7vh;
  text-align: justify;
}

section.aboutus h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px auto;
}

section.aboutus p {
  margin: 15px auto;
}

section.aboutus ul li {
  margin: 15px auto;
}

section.aboutus ul {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  list-style: square;
}

/** LEGAL **/

section.legal {
  margin: auto;
  padding: 5vh 7vh;
  width: 80%;
}

section.legal div {
  padding: 5vh 7vh;
  text-align: justify;
}

section.legal h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px auto;
}

section.legal h3 {
  text-align: center;
  font-size: 30px;
  margin: 18px auto;
}

section.legal h4 {
  font-size: 28px;
  margin: 20px auto;
}

section.legal p {
  margin: 15px auto;
}

section.legal i {
  font-style: italic;
}

section.legal ul li {
  margin: 15px auto;
}

section.legal ul {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  list-style: square;
}

section.legal ul.number {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  list-style: decimal;
}

section.legal #linkReturn {
  text-align: center;
}

/** CONTACT **/

section.contact {
  margin: auto;
  padding: 5vh 7vh;
  width: 80%;
}

section.contact #div-rrss {
  padding: 5vh 7vh 5vh;
}

section.contact #div-rrss i {
  font-size: 30px;
}

section.contact div div {
  text-align: center
}

section.contact div {
  padding: 5vh 7vh;
  text-align: justify;
}

section.contact h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px auto;
}

section.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section.contact form input,
section.contact form textarea {
  width: 80%;
  margin: 10px;
}

section.contact ul li {
  margin: 15px auto;
}

section.contact ul {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  list-style: none;
}

/** RESPONSIVE **/

@media screen and (max-width: 717px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  #principal {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
  }

  .v1 {
    width: 48%;
  }

  .v2 {
    width: 30%;
  }
}

@media screen and (max-width: 1280px) {

  .v1,
  .v2 {
    width: 75%;
  }
}

@media screen and (max-width: 810px) {
  #principal {
    grid-template-columns: 1.5fr;
    grid-template-rows: 1.5fr;
  }

  .v1,
  .v2 {
    width: 65%;
  }
}

@media screen and (max-width: 535px) {
  header>a {
    width: 70%;
  }
}

@media screen and (max-width: 460px) {
  .error {
    padding: 10px 5px;
    font-size: 15px;
  }

  #conten_mode i {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  header>a {
    width: 60%;
  }
}

@media screen and (max-width: 360px) {
  #principal {
    gap: 1.5vh;
    padding: 3vh 3.5vh;
  }

  header>a {
    width: 40%;
  }
}