{% extends 'base.html.twig' %}

{% block title %}
	<title>{{"App.Title" | trans({}, 'translationsUI')}}</title>
{% endblock %}

{% block body %}
	<a href="{{rutaDelDirectorio}}" class="btnDowloads" target="_blank" download>
		<i class="fa fa-download"></i>
		Download</a>
{% endblock %}
